body{
    width: 100%;
    height: 100%;
    position: relative; 
   background: linear-gradient(90deg,#5b146f, #ff009c );
}
p{
    color: #ff0000;
    text-align: center;
    font-size: 4vw;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 10vw;
}
.in{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    
}
input{
    font-size: 3vw;
    background: linear-gradient(yellow,rgb(187, 187, 0));
    width: 30vw;
    height: 5vw;
    border-radius: 1.5vw;
    border: none;
    transition: 0.5s all;
}
input::placeholder{
    text-align: center;
    font-size: 2.5vw;
    color: rgb(0, 0, 0);
    opacity: .6;

}

#output{
    position: relative;
    width: 50vw;
    height: 15vw;
}
#display{
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vw;
    color:#0c0042 ;
}
span{
    position: absolute;
    font-weight: 900;
    left: 20%;
    top: 40%;
}
h2{
    position: absolute;
    left: 55%;
}
#submit{
    display: flex;
    position: relative;
}
button{
    font-size: 2.5vw;
    background-color: rgb(249, 71, 7);
    width: 30vw;
    height: 7vw;
    border: none;
    border-radius: 2vw;
    font-weight: 650;
    transition: 0.5s all;
}
button:hover{
    
    background-color: rgb(229, 61, 0);
}

@media(max-width:600px) {
    p{
        color: rgb(255, 0, 51);
        text-align: center;
        font-weight: 550;
        font-size: 6vw;
        text-transform: capitalize;
        line-height: 10vw;
    }
    .in{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5vw;
    }
    input{
        font-size: 3vw;
        background-color: yellow;
        width: 30vw;
        height: 5vw;
        border: none;
        border-radius: 1.5vw;
        transform: translate(.15s);
    }
    input:hover{
        background-color: rgb(234, 234, 0);
    
    }
    input::placeholder{
        text-align: center;
        font-size: 2.5vw;
        color: black;
    }
    button{
        font-size: 3vw;
        width: 40vw;
        height: 7vw;
        border-radius: 2vw;
        transform: translate(.15s);
        border: none;
    }
    button:hover{
        background-color: rgb(251, 96, 39);
    }
} 
