body {
    width: 100%;
    background: linear-gradient(90deg,#5b146f, #ff009c );

}
.home{
    position: relative;
}
.sub{
    color: #ff0000;
    font-weight: 600;
    text-align: center;
    font-size: 8vw;
}
.btn{
    display: flex;
    gap: 8vw;
    justify-content: space-around;
    align-items: center;

}
button{
    font-size: 3vw;
    background: linear-gradient(yellow,rgb(255, 166, 0));
    width: 30vw;
    height: 20vw;
    border-radius: 2vw;
    border: none;
    cursor: pointer;
    transition: 0.4s all;
}
button:hover{
    background: linear-gradient(orange , rgb(252, 58, 97));
}
span{
    opacity: .83;
}
